---
name: Улітко Ігор Андрійович
link: uia
linkPrev: about
namePrev: Про кафедру
---

{% extends "layouts/_layout.html" %}

{% block content %}


<!-- begin content -->
<div class="content">
  <div class="content__container">
    <div class="content__center">

      <div class="breadcrumbs">
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item"><a href="{{linkPrev}}.html" class="breadcrumbs__link">{{namePrev}}</a></li>
          <li class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">{{name}}</a></li>
        </ul>
      </div>

      <div class="person">
        <ul class="person__list">

          {% if langUA %}

          <li class="person__item">
            <div class="person__photo"><img src="../img/person/{{link}}.jpg" alt="" class="person__image"></div>
            <div class="person__whois">
              <h4 class="person__name"><a class="person__name-link" href="{{link}}.html">{{name}}</a></h4>
              <p class="person__info">доктор фізико-математичних наук</p>
              <p class="person__info">доцент</p>
              <p class="person__info">Кімната:  405</p>
              <div class="person__mail">
                <a class="person__mail-link" href="mailto: y.zhuk@i.ua">Email: ulitko@univ.kiev.ua</a><br>
              </div>
            </div>

            <div class="person__full-info">

              <h5 class="person__capt">Освіта:</h5>
              <p class="person__info">1992  диплом з відзнакою, механіко-математичний факультет, Київський національний університет ім. Тараса Шевченка </p>
              <p class="person__info">1999  кандидат фізико-математичних наук, Київський національний університет ім. Тараса Шевченка</p>

              <h5 class="person__capt">Професійна діяльність:</h5>
              <p class="person__info">1995-1999 молодший науковий співробітник, лабораторія "Механіка спряжених хвильових полів", кафедра теоретичної та прикладної механіки, Київський національний університет ім. Тараса Шевченка </p>
              <p class="person__info">1999-2006 науковий співробітник, лабораторія "Механіка спряжених хвильових полів"</p>
              <p class="person__info">2004-дотепер  доцент, кафедра теоретичної та прикладної механіки, Київський національний університет ім. Тараса Шевченка</p>
              <p class="person__info">2006-дотепер  завідувач лабораторії "Механіки спряжених хвильових полів"</p>

              <h5 class="person__capt">Напрямки наукової діяльності: </h5>
              <p class="person__info">загальна теорія просторового руху пружних тіл</p>
              <p class="person__info">прикладна теорія хвильових гіроскопів</p>
              <p class="person__info">теорії контактної взаємодії пружних тіл</p>
              <p class="person__info">електропружність та динаміка тіл з п'єзокерамічних матеріалів</p>

              <h5 class="person__capt">Викладає нормативний курс:</h5>
              <p class="person__info">Некласичні математичні моделі механіки деформівного твердого тіла    1 курс магістратури</p>

              <h5 class="person__capt">Викладає спеціалізовані курси:</h5>
              <p class="person__info">Аналітичні методи в механіці   4 курс бакалаврату</p>
              <p class="person__info">Теорія електромеханічних коливань  4 курс бакалаврату</p>
              <p class="person__info">Математичне моделювання механічних систем і процесів   1 курс магістратури </p>
              <a class="person__site-link" target="_blank" href="http://lcwf.univ.kiev.ua/index.php?option=com_content&view=article&catid=38:educationalprocess&id=77:2017-03-03-19-48-56">Перейти до робочих програм</a>

              <h5 class="person__capt">Основні публікації:</h5>
              <p class="person__info">1.  I.A.Ulitko "Dispersion of plane harmonic waves in steadily rotating elastic medium"  Dopovidi of National Academy of Sciences of Ukraine, 1995. No.1. p. 54-57. [in Russian]</p>
              <p class="person__info">2.  I.A. Ulitko "Harmonic vibrations of a half-space undergoing rotation" Acoustic Bulletin, 1998. Vol.2. No.2. p. 73-79. [in Ukrainian]</p>
              <p class="person__info">3.  I.A.Ulitko "Steady rotation of elastic solids: the first integral of Euler equations and its application in the theory of wave gyroscopes" Bulletin of Lviv University. Ser.: Math.- Mech., 1999. Vol.55. p. 187-191. [in English]</p>
              <p class="person__info">4.  I.A. Ulitko, V.M. Bazhenov "Harmonic Rayleigh wave on the free surface of a rotating elastic half-space" Bulletin of Kiev University. Ser.: Phys.- Math., 1998. Vol.3. p. 96-105. [in Ukrainian].</p>
              <p class="person__info">5.  V.M. Bazhenov, I.A.Ulitko "On the theory of electrical discharge of impulse piezogenerators" Dynamic Systems (Simferopol University, Ukraine), 1999. Vol.15 p. 76-81 [in Russian, English transl. by Plenum publishers (USA)]6.</p>
              <p class="person__info">6.  S.A. Sarapuloff, I.A.Ulitko "Rotation influence upon volume waves in an elastic medium and their usage in solid-state gyroscopy" Gyroscopy and Navigation (Saint Petersburg, Russia), 2001. Vol. 35. No 4. p.64-72. [in Russian]</p>
              <p class="person__info">7.  I.A.Ulitko "Mathematical theory of the fork-type wave gyroscope" Proc.1995 IEEE International Frequency Control Symp., IEEE Catalog No 95CH35752, San Francisco (USA), 1995. p. 786 – 793. [in English]</p>
              <p class="person__info">8.  I.A. Ulitko "Modulation of harmonic waves in steadily rotating elastic medium" Proc.2-nd International Conf. On Modern Problems in Mechanics of Continuous Media, Rostov-on-Don (Russia), 1996.  Vol.1. p. 137-141. [in Russian]</p>
              <p class="person__info">9.  I.A. Ulitko "Resonant properties of the tuning fork wave gyroscope" Proc. EUROSENSORS-IX, the all-European conference  on solid-state transducers, Warsaw (Poland), 1997. Vol.2. p.1073-1076. [in English]</p>
              <p class="person__info">10. I.A. Ulitko V.N. Nikitenko “Forced vibrations of the thin piezoceramic cylindrical shell under fast rotation” Math. Methods & Phys.-Mech. Fields. 2004.Vol. 47. No 3. p.93-99. [in Russian]</p>
              <p class="person__info">11. I.A. Ulitko "Harmonic waves from pulsing source in steadily rotating elastic medium" Proc. Acoustic Symp. CONSONANCE 2003 Kiev (Ukraine), 2003. p. 258-264. [in Russian]</p>

            </div>
          </li>

          {% elif langEN  %}

          <li class="person__item">
            <p class="person__capt">No English translation. Sorry about that.</p>
            <p class="person__capt">¯\_(ツ)_/¯</p>

            <div class="person__photo"><img src="../img/person/{{link}}.jpg" alt="" class="person__image"></div>
            <div class="person__whois">
              <h4 class="person__name"><a class="person__name-link" href="{{link}}.html">{{name}}</a></h4>
              <p class="person__info">доктор фізико-математичних наук</p>
              <p class="person__info">доцент</p>
              <p class="person__info">Кімната:  405</p>
              <div class="person__mail">
                <a class="person__mail-link" href="mailto: y.zhuk@i.ua">Email: ulitko@univ.kiev.ua</a><br>
              </div>
            </div>

            <div class="person__full-info">

              <h5 class="person__capt">Освіта:</h5>
              <p class="person__info">1992  диплом з відзнакою, механіко-математичний факультет, Київський національний університет ім. Тараса Шевченка </p>
              <p class="person__info">1999  кандидат фізико-математичних наук, Київський національний університет ім. Тараса Шевченка</p>

              <h5 class="person__capt">Професійна діяльність:</h5>
              <p class="person__info">1995-1999 молодший науковий співробітник, лабораторія "Механіка спряжених хвильових полів", кафедра теоретичної та прикладної механіки, Київський національний університет ім. Тараса Шевченка </p>
              <p class="person__info">1999-2006 науковий співробітник, лабораторія "Механіка спряжених хвильових полів"</p>
              <p class="person__info">2004-дотепер  доцент, кафедра теоретичної та прикладної механіки, Київський національний університет ім. Тараса Шевченка</p>
              <p class="person__info">2006-дотепер  завідувач лабораторії "Механіки спряжених хвильових полів"</p>

              <h5 class="person__capt">Напрямки наукової діяльності: </h5>
              <p class="person__info">загальна теорія просторового руху пружних тіл</p>
              <p class="person__info">прикладна теорія хвильових гіроскопів</p>
              <p class="person__info">теорії контактної взаємодії пружних тіл</p>
              <p class="person__info">електропружність та динаміка тіл з п'єзокерамічних матеріалів</p>

              <h5 class="person__capt">Викладає нормативний курс:</h5>
              <p class="person__info">Некласичні математичні моделі механіки деформівного твердого тіла    1 курс магістратури</p>

              <h5 class="person__capt">Викладає спеціалізовані курси:</h5>
              <p class="person__info">Аналітичні методи в механіці   4 курс бакалаврату</p>
              <p class="person__info">Теорія електромеханічних коливань  4 курс бакалаврату</p>
              <p class="person__info">Математичне моделювання механічних систем і процесів   1 курс магістратури </p>
              <a class="person__site-link" target="_blank" href="http://lcwf.univ.kiev.ua/index.php?option=com_content&view=article&catid=38:educationalprocess&id=77:2017-03-03-19-48-56">Перейти до робочих програм</a>

              <h5 class="person__capt">Основні публікації:</h5>
              <p class="person__info">1.  I.A.Ulitko "Dispersion of plane harmonic waves in steadily rotating elastic medium"  Dopovidi of National Academy of Sciences of Ukraine, 1995. No.1. p. 54-57. [in Russian]</p>
              <p class="person__info">2.  I.A. Ulitko "Harmonic vibrations of a half-space undergoing rotation" Acoustic Bulletin, 1998. Vol.2. No.2. p. 73-79. [in Ukrainian]</p>
              <p class="person__info">3.  I.A.Ulitko "Steady rotation of elastic solids: the first integral of Euler equations and its application in the theory of wave gyroscopes" Bulletin of Lviv University. Ser.: Math.- Mech., 1999. Vol.55. p. 187-191. [in English]</p>
              <p class="person__info">4.  I.A. Ulitko, V.M. Bazhenov "Harmonic Rayleigh wave on the free surface of a rotating elastic half-space" Bulletin of Kiev University. Ser.: Phys.- Math., 1998. Vol.3. p. 96-105. [in Ukrainian].</p>
              <p class="person__info">5.  V.M. Bazhenov, I.A.Ulitko "On the theory of electrical discharge of impulse piezogenerators" Dynamic Systems (Simferopol University, Ukraine), 1999. Vol.15 p. 76-81 [in Russian, English transl. by Plenum publishers (USA)]6.</p>
              <p class="person__info">6.  S.A. Sarapuloff, I.A.Ulitko "Rotation influence upon volume waves in an elastic medium and their usage in solid-state gyroscopy" Gyroscopy and Navigation (Saint Petersburg, Russia), 2001. Vol. 35. No 4. p.64-72. [in Russian]</p>
              <p class="person__info">7.  I.A.Ulitko "Mathematical theory of the fork-type wave gyroscope" Proc.1995 IEEE International Frequency Control Symp., IEEE Catalog No 95CH35752, San Francisco (USA), 1995. p. 786 – 793. [in English]</p>
              <p class="person__info">8.  I.A. Ulitko "Modulation of harmonic waves in steadily rotating elastic medium" Proc.2-nd International Conf. On Modern Problems in Mechanics of Continuous Media, Rostov-on-Don (Russia), 1996.  Vol.1. p. 137-141. [in Russian]</p>
              <p class="person__info">9.  I.A. Ulitko "Resonant properties of the tuning fork wave gyroscope" Proc. EUROSENSORS-IX, the all-European conference  on solid-state transducers, Warsaw (Poland), 1997. Vol.2. p.1073-1076. [in English]</p>
              <p class="person__info">10. I.A. Ulitko V.N. Nikitenko “Forced vibrations of the thin piezoceramic cylindrical shell under fast rotation” Math. Methods & Phys.-Mech. Fields. 2004.Vol. 47. No 3. p.93-99. [in Russian]</p>
              <p class="person__info">11. I.A. Ulitko "Harmonic waves from pulsing source in steadily rotating elastic medium" Proc. Acoustic Symp. CONSONANCE 2003 Kiev (Ukraine), 2003. p. 258-264. [in Russian]</p>

            </div>
          </li>
          {% endif %}
        </ul>
      </div>


    </div>
  </div>
</div>
<!-- end content -->




{% endblock %}
