<!-- begin footer -->
<div class="footer">
	<div class="footer__container">
		<div class="footer__copyright">© 2017 Theoretical and Applied Mechanics Department. Всі права захищено.</div>
		<div class="footer__social">
			<ul class="footer__social-list">
				<li class="footer__social-item"><a href="" class="footer__social-link"><img src="../img/social/f.png" alt="" class="footer__social-img"></a></li>
				<li class="footer__social-item"><a href="" class="footer__social-link"><img src="../img/social/y.png" alt="" class="footer__social-img"></a></li>
				<li class="footer__social-item"><a href="" class="footer__social-link"><img src="../img/social/g.png" alt="" class="footer__social-img"></a></li>
				<li class="footer__social-item"><a href="" class="footer__social-link"><img src="../img/social/t.png" alt="" class="footer__social-img"></a></li>
			</ul>
		</div>
	</div>
</div>
<!-- end footer -->