<!-- begin header -->
<div class="header">
	<div class="infobar">
		<div class="infobar__container">
			{% if langUA %}
			<div class="infobar__item">+38 044 259 03 07</div>
			<div class="infobar__item"><a href="dtm@univ.kiev.ua" class="infobar__email">dtm@univ.kiev.ua</a></div>
			<div class="infobar__item">пр. Глушкова, 4е</div>
			<a href="{{pagelink}}.html" class="lang lang__to-en"></a>
			{% elif langEN  %}
			<div class="infobar__item">+38 044 259 03 07</div>
			<div class="infobar__item"><a href="dtm@univ.kiev.ua" class="infobar__email">dtm@univ.kiev.ua</a></div>
			<div class="infobar__item">пр. Глушкова, 4е</div>
			<a href="{{pagelink}}.html" class="lang lang__to-ua"></a>
			{% endif %}
		</div>
	</div>
	<div class="header__container">
		<a href="http://www.univ.kiev.ua" class="logo__link"><div class="logo logo__left"><img src="../img/logo/logo1.png" alt="" class="logo_image"></div></a>
		<div class="header__title">
			<div class="header__text">
				<a href="main.html" class="header__title-link">{{siteTitle}}<br>
					{% if langUA %}
					<span class="header__span header__title-span">{{siteTitleSpan}} <nobr>{{siteTitleSpanName}}</nobr></span></a>
					{% elif langEN  %}
					<span class="header__span header__title-span"><nobr>{{siteTitleSpanName}}</nobr> {{siteTitleSpan}}</span></a>
					{% endif %}
				</div>
			</div>
			<a href="main.html" class="logo__link logo__link-right"><div class="logo logo__left"><img src="../img/logo/logo2.png" alt="" class="logo_image"></div></a>
		</div>
	</div>
	<!-- end header -->


	<!-- begin hamburger -->
	<button class="hamburger hamburger--emphatic" type="button">
		<span class="hamburger-box">
			<span class="hamburger-inner"></span>
		</span>
	</button>
	<div class="toggle">

		<div class="toggle__container">


			<ul class="toggle__list">
				{% if langUA %}
				<a href="{{pagelink}}.html" class="lang lang__to-en"></a>
				{% for i in arrs.navigationUA %}
				<li class="toggle__item"><a href="{{i.link}}.html" class="toggle__link">{{i.title}}</a></li>
				{% endfor %}
				{% elif langEN  %}
				<a href="{{pagelink}}.html" class="lang lang__to-ua"></a>
				{% for i in arrs.navigationEN %}
				<li class="toggle__item"><a href="{{i.link}}.html" class="toggle__link">{{i.title}}</a></li>
				{% endfor %}
				{% endif %}
			</ul>

		</div>

	</div>
		<!-- end hamburger -->