{% set
navigationUA = [

	{
		link: 'main',
		title: 'Головна'
	},
	{
		link: 'about',
		title: 'Про кафедру'
	},
	{
		link: 'entrants',
		title: 'Абітурієнтам'
	},
	{
		link: 'students',
		title: 'Студентам'
	},
	{
		link: 'lectors',
		title: 'Викладачам'
	},
	{
		link: 'science',
		title: 'Наукові праці'
	}

]
%}

{% set
navigationEN = [

	{
		link: 'main',
		title: 'Main'
	},
	{
		link: 'about',
		title: 'About'
	},
	{
		link: 'entrants',
		title: 'Entrants'
	},
	{
		link: 'students',
		title: 'Students'
	},
	{
		link: 'lectors',
		title: 'Lectors'
	},
	{
		link: 'science',
		title: 'Science'
	}

]
%}



{% set
eventUA = [

	{
		day: '01',
		month: 'КВІТ',
		title: 'Новина',
		descr: 'Далеко-далеко за словесними горами в країні, голосних і приголосних живуть рибні тексти. Ти, мовою, кілька першу за над знову. Великий дорогу яке, оксмокс гір вирішила семантика, маленька зустрів своїх знову дав використовувало.'
	}

]
%}

{% set
eventEN = [

	{
		day: '01',
		month: 'APR',
		title: 'New',
		descr: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores unde libero incidunt esse quam fugiat at fugit rerum a tenetur impedit rem facere temporibus molestias, blanditiis et repudiandae quae perferendis.'
	}

]
%}

{% set
carousel = [

	{
		image: '../img/carousel/1.jpg'
	},
	{
		image: '../img/carousel/2.jpg'
	},
	{
		image: '../img/carousel/3.jpg'
	}

]
%}

{% set
personUA = [

	{
		name: 'Жук Ярослав Олександрович',
		photo: '../img/person/ZYO.jpg',
		bigboss: 'ЗАВІДУВАЧ Кафедри Теоретичної та Прикладної Механіки',
		position: 'Доктор фізико-математичних наук',
		degree: 'Професор ',
		email: 'y.zhuk@i.ua',
		email1: 'y_zhuk@inmech.kiev.ua',
		phone: '+380-44-521-33-34',
		link: 'zyo',
		site: 'zyo',
		room: 'Кімната 234'
	},
	{
		name: 'Лебедєва Ірина Валеріївна',
		photo: '../img/person/LIV.jpg',
		position: 'Кандидат фізико-математичних наук',
		degree: 'Доцент',
		email: 'Lebedevai@ukr.net',
		link: 'liv',
		site: 'liv',
		room: 'Кімната: 403'
	},
	{
		name: 'Борисейко Олександр Віталійович',
		photo: '../img/person/bov.jpg',
		position: 'кандидат фізико-математичних наук',
		degree: 'доцент',
		email: 'b12313@ukr.net',
		link: 'bov',
		site: 'bov',
		room: 'Кімната 405'
	},
	{
		name: 'Курилко Олександр Борисович',
		photo: '../img/person/kob.jpg',
		position: 'кандидат фізико-математичних наук',
		degree: 'доцент',
		email: 'alexandr.kurylko@gmail.com',
		link: 'kob',
		site: 'kob',
		room: 'Кімната 405'
	},
	{
		name: 'Маципура Володимир Тимофійович',
		photo: '../img/person/mvt.jpg',
		position: 'кандидат фізико-математичних наук',
		degree: 'доцент',
		email: 'alexandr.kurylko@gmail.com',
		link: 'mvt',
		site: 'mvt',
		room: 'Кімната 405'
	},
	{
		name: 'Улітко Ігор Андрійович',
		photo: '../img/person/uia.jpg',
		position: 'доктор фізико-математичних наук',
		degree: 'доцент',
		email: 'ulitko@univ.kiev.ua',
		link: 'uia',
		site: 'uia',
		room: 'Кімната 405'
	},
	{
		name: 'Зражевський Григорій Михайлович',
		photo: '../img/person/zgm.jpg',
		position: 'доктор фізико-математичних наук',
		degree: 'доцент',
		email: 'zgrig@univ.kiev.ua',
		link: 'zgm',
		site: 'zgm',
		room: 'Кімната 403'
	}


]
%}

{% set
personEN = [

	{
		name: 'LIV',
		photo: '../img/person/LIV.jpg',
		bigboss: 'isBigBoss?',
		position: 'Position',
		degree: 'Degree',
		email: 'liv@gmail.co',
		site: 'liv.com',
		room: 'room 236'
	},
	{
		name: 'LIV',
		photo: '../img/person/LIV.jpg',
		bigboss: 'isBigBoss?',
		position: 'Position',
		degree: 'Degree',
		email: 'liv@gmail.co',
		site: 'liv.com',
		room: 'room 236'
	},
	{
		name: 'LIV',
		photo: '../img/person/LIV.jpg',
		bigboss: 'isBigBoss?',
		position: 'Position',
		degree: 'Degree',
		email: 'liv@gmail.co',
		site: 'liv.com',
		room: 'room 236'
	}


]
%}